
<div>
    <h2><span translate="pedidosApp.food.detail.title">Food</span> {{vm.food.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="pedidosApp.food.prefix">Prefix</span></dt>
        <dd>
            <span>{{vm.food.prefix}}</span>
        </dd>
        <dt><span translate="pedidosApp.food.name">Name</span></dt>
        <dd>
            <span>{{vm.food.name}}</span>
        </dd>
        <dt><span translate="pedidosApp.food.startDate">Start Date</span></dt>
        <dd>
            <span>{{vm.food.startDate | date:'medium'}}</span>
        </dd>
        <dt><span translate="pedidosApp.food.endDate">End Date</span></dt>
        <dd>
            <span>{{vm.food.endDate | date:'medium'}}</span>
        </dd>
        <dt><span translate="pedidosApp.food.picture">Picture</span></dt>
        <dd>
            <div ng-if="vm.food.picture">
                <a ng-click="vm.openFile(vm.food.pictureContentType, vm.food.picture)">
                    <img data-ng-src="{{'data:' + vm.food.pictureContentType + ';base64,' + vm.food.picture}}" style="max-width: 100%;"/>
                </a>
                {{vm.food.pictureContentType}}, {{vm.byteSize(vm.food.picture)}}
            </div>
        </dd>
        <dt><span translate="pedidosApp.food.delicatessenId">Delicatessen Id</span></dt>
        <dd>
            <a ui-sref="delicatessen-detail({id:vm.food.delicatessenId.id})">{{vm.food.delicatessenId.id}}</a>
        </dd>
        <dt><span translate="pedidosApp.food.garrison">Garrison</span></dt>
        <dd>
            <span ng-repeat="garrison in vm.food.garrisons">
                <a ui-sref="garrison-detail({id: garrison.id})">{{garrison.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="food-detail.edit({id:vm.food.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
